@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');



body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-family: "Helvetica Neue", sans-serif;
}

header {
    background-image: url('/network.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    height: max-content;
}

div {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h2, h3 {
    font-weight: 500;
}

h4 {
    font-weight: 300;
}