@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

html, body, #root {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    height: 100vh;
}

#header {
    background-image: url('./img/background.jpg');
    color: white;
}

.bg-img-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.min-h-100 {
    min-height: 100%;
}

.bg-landing {
    background: rgb(236,236,236);
/* background: linear-gradient(135deg, rgba(196, 241, 255, 0.2) 0%, rgba(253,187,45, 0.2) 100%); */
    /* background: rgb(236,236,236); */
    background: linear-gradient(112deg, rgba(236,236,236,1) 0%, rgb(212, 212, 212) 50%, rgba(222,222,222,1) 100%);
}

#header h1 {
    font-size: 4rem;
    font-weight: 100;
}

#header h2 {
    font-weight: 100;
}

#auth hr {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#auth h1 {
    font-size: 2.5rem;
    font-weight: 900;
}

#auth h2 {
    font-size: 1.6rem;
}

#auth h2, #auth h3, #auth h4 {
    font-weight: 300;
}

#footer div, #footer span {
    font-weight: 300;
}

#main h1 {
    font-weight: 700;
}

#main h2 {
    font-size: 1.6rem;
    font-weight: 300;
}

#main h3 {
    font-size: 1.3rem;
    font-weight: 500;
}

#main h4 {
    font-size: 1.5rem;
    font-weight: 300;
}

#custom h2, #custom h3, #custom h4 {
    font-weight: 300;
}

#custom h3, h4{
    padding: auto;
}

#maketeamform {
    padding: 15px;
}