@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    font-family: "Helvetica Neue", sans-serif;
    height: 100%
}

#header {
    background-image: url('./img/background.jpg');
    color: white;
}

.bg-img-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.min-h-100 {
    min-height: 100%;
}

#header h1 {
    font-size: 3.5rem;
    font-weight: 300;
}

#header h2 {
    font-weight: 100 !important;
}

div {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#custom h2, #custom h3, #custom h4 {
    font-weight: 300;
}

#custom h3, h4{
    padding: auto;
}

#maketeamform {
    padding: 15px;
}